<?xml version="1.0" encoding="utf-8"?>
<configuration>
        <packageSources>
                <add key="BinRepo" value="%BINARY_REPO_NUGET_SOURCE_URL%" />
        </packageSources>
        <packageSourceCredentials>
                <BancoPanBinRepo>
                        <add key="Username" value="%BINARY_REPO_USR%" />
                        <add key="ClearTextPassword" value="%BINARY_REPO_PSW%" />
                </BancoPanBinRepo>
        </packageSourceCredentials>
</configuration>
